@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">SERIEN COSMETICS</h2>
    <h3>Trang liên hệ</h3>

    

    <address>
        <strong>Hỗ trợ:</strong>   <a href="mailto:lyhongphuongan@gmail.com">cskh@seriencosmetics.vn</a><br />
        <strong>Tuyển dụng:</strong> <a href="mailto:lyhongphuongan@gmail.com">tuyendung@seriencosmetics.vn</a>
    </address>
</main>